
#pageTitle { 
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
  font-size: 50px;
}

#planets {
	border: none;
  padding: 10px;
  /* background-color: aqua; */
  width: 100%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  
}

#planets thead{
  font-size: 14px;
}

#planets tr td{
  padding: 25px;
}

#planets tr:nth-child(even){
  background-color: rgb(255, 230, 0);
}

.planetImage {
  border-radius: 8px;
  width: 80%;
}
  