#planets {
	border: none;
  padding: 10px;
  /* background-color: aqua; */
  width: 100%;
  text-align: center;
  /* height: 80vh; */
}

.data td{
  background-color: red;
  padding: 25px;
}

.data td{
  background-color: red;
  padding: 25px;
}
  