
#pageTitle { 
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
  font-size: 50px;
}

#planets {
	border-collapse: collapse;
  padding: 10px;
  /* background-color: aqua; */
  width: 100%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  
}

#planets thead{
  font-size: 24px;
  
}

#planets tr td{
  padding: 25px;
  
}

#planets tr:nth-child(even){
  background-color: rgb(255, 217, 0);
}

.planetImage {
  border-radius: 8px;
  width: 50%;
}

.dataTitle {
  font-size: 16px;
  font-weight: ;
}
  